:root{
    --header-bg-coffee:#594545;
    --main-bg-coffee: #815B5B;
    --list-bg-coffee:#e3d6c5;
    --card-bg-coffee:#FFF8EA;
}

.card-main-coffee {
    background-color: var(--header-bg-coffee);
	color: var(--main-bg-coffee)
}

.app {
    height: 100vh;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
    flex-grow: 1;
}
.flex-grow {
    flex-grow: 1;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.overflow-y {
    overflow-y: auto;
}

.padding-ten {
    padding: 10px;
}

.padding-thirty {
    padding: 30px;
}

.sticky {
    position: sticky;
    top: 0;
}

.center {
    height: 50%; 
    margin: auto; 
    text-align: center; 
}

.border-coffee {
    border-width: 0 0 1px 0;
    border-color: var(--main-bg-coffee);
}

.height-max {
    height: 100%
}

/* Page Header */
.header { 
    background-color:var(--header-bg-coffee);
    justify-content: space-between;
}

/* Board Component */
.canvas { 
    background-color: var(--main-bg-coffee);
}

.boardList {
    background-color: var(--main-bg-coffee);
    margin-top: 10px;
}

.list {
    margin-left: 10px;
    display: inline-block;
}

.addList {
    padding-left: 15px;
}

.cardContent {
    background-color:var(--card-bg-coffee);
    border-radius:5px;
    box-shadow:1px 2px 0 var(--main-bg-coffee);
    margin-bottom:10px;
}

/* Navbar */
li {
    cursor: pointer;
}

.nav-menu {
    background-color: var(--header-bg-coffee);
}

.nav-menu.active {
    width: 125px;
    min-width: 125px;
}


/* viewBoards components */
.userBoardsContainer {
    min-width: 500px;
}
.userBoardsDisplay {
    background-color: #e3d6c5; 
    border-radius: 8px;
}

.grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 16px 16px 24px 16px;
}

/* Board components */
/* Accordion*/
.cardTitle {
    cursor: pointer;
	flex-grow: 1;
    margin: 5px 0 0 5px;
}

/* Scrollbar */ 
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #640c0c;
}

 /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 13px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--header-bg-coffee);
    border-radius: 20px;
}