:root{
    --header-bg-coffee:#594545;
    --main-bg-coffee: #815B5B;
    --list-bg-coffee:#e3d6c5;
    --card-bg-coffee:#FFF8EA;
}

.app {
    height: 100vh;
	display: flex;
        flex-direction: column;
}

.canvas { 
    background-color: var(--main-bg-coffee);
    overflow: auto;
    flex-direction: column;
    display: flex;
}

.boardList {
    background-color: var(--main-bg-coffee);
    overflow: auto;
    flex-direction: row;
    display: flex;
    flex-grow: 1;
    margin-top: 10px;
    position: absolute;
}

.list {
    margin-left: 10px;
    max-height: 100%;
    display: inline-block;
    height: 100%;
}

.addList {
    margin-top: 5px;
    padding-left: 15px;
}

.header {
    padding:10px; 
    padding-left:30px; 
    background-color:var(--header-bg-coffee);
    border-width: 0 0 1px 0;
    border-color: var(--main-bg-coffee);
    position: sticky;
    top: 0;
    z-index: 1;
}

.cardContent {
    background-color:var(--card-bg-coffee);
    border-radius:5px;
    padding:5px;
    box-shadow:1px 2px 0 var(--main-bg-coffee);
    margin-bottom:10px;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
    min-width: 0;
}

.nav-menu {
    background-color: var(--header-bg-coffee);
    min-height: 100%;
}

.nav-menu.active {
    width: 150px;
    min-width: 150px;
}

 /* Firefox */
 * {
    scrollbar-width: auto;
    scrollbar-color: #640c0c;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 13px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--header-bg-coffee);
    border-radius: 20px;
  }